.ipynb_checkpoints/
__pycache__/
*.pyc
.sage/
*.log
*.tmp
Murmurations/Research Projects.code-workspace
Murmurations/*.sage
Murmurations/*.sage.py
Murmurations/*.sh
Murmurations/output_*.txt
Murmurations/error_*.txt

# Ignore all folders in Murmurations
Murmurations/*/

# But keep Mathematica notebooks
!Murmurations/Mathematica_notebooks/