.ipynb_checkpoints/
__pycache__/
*.pyc
.sage/
*.log
*.tmp
Murmurations/Research Projects.code-workspace
Murmurations/Curve Database (Conductor < 100 000)
Murmurations/my_job.sage
Murmurations/my_job.sage.py
Murmurations/my_job.sh
Murmurations/output_2710390.txt
Murmurations/error_2710390.txt
