.ipynb_checkpoints/
__pycache__/
*.pyc
.sage/
*.log
*.tmp
Murmurations/Research Projects.code-workspace
Murmurations/my_job.sage
Murmurations/my_job.sage.py
Murmurations/my_job.sh
Murmurations/output_*.txt
Murmurations/error_*.txt

# Ignore all folders in Murmurations
Murmurations/*/

# But keep Mathematica notebooks
!Murmurations/Mathematica_notebooks/